*.*
*
!*.md
!*.f90
!*.m
!*.txt
!*.csv
!*.sh
!*.tex
!README.pdf
!/matfiles
!/matfiles/*.mat
!/data
!/data/*.xls
!/data/*.xlsx
/data/fred*csv
/data/*txt
/data/*tex
!/matlabtoolbox
.*
!.gitignore
!*makefile
/localtemp.m
/listing.tex
